<div class="card mb-2 text-center bg-dark">

  <shared-lazy-image [url]="gifInternal.images.downsized_medium.url"></shared-lazy-image>

  <div class="card-body text-white">
    <p class="card-text">
      <!-- Titulo -->
      {{gifInternal.title || "No name"}}
    </p>
  </div>
  <div class="card-body text-white">
    <p class="card-text">
      <button class="btn btn-light form-control"
        (click)="downloadGif(gifInternal.images.downsized_medium.url, gifInternal.title)">Descargar</button>
    </p>
  </div>
</div>
